<section class="aboutus wrapper2">
<h1>About us</h1>
<p><strong>Auguth Research Foundation</strong> is a Section 8 company based in Karnataka, India, dedicated to advancing research and development in the field of software, particularly focusing on Web3 protocols and solutions. We aim to foster innovation in software design, customization, and implementation, providing essential support services related to internet and web-based applications. Our goal is to empower local programmers by offering the tools, advice, and resources they need to succeed in the rapidly evolving tech landscape.</p>
<!-- <img class="abtusimg" src="{{site.baseurl}}/assets/images/aboutsusvec6.webp" alt=""> -->
<div class="mvcontainer ">
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/group.png" alt="">
        <h3>Our mission</h3>
        <p>Our mission is to drive innovation by fostering research and development in software and Web3 technologies. We aim to empower developers through educational initiatives, community support, and resources, ensuring that local talent can create scalable solutions that address both regional and global challenges.</p>
    </div>
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/vision.png" alt="">
        <h3>Our Vision</h3>
        <p>We envision a future where open collaboration and cutting-edge technology empower communities. By supporting the growth of Web3 and software development, we aim to create a global ecosystem where innovation thrives, and technological advancements benefit society, creating opportunities for everyone.</p>
    </div>
</div>
</section>
