<section id="contactsection" class="contactus wrapper1">
<h1 class="contactushead">Contact us</h1>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{{site.baseurl}}/assets/images/contactus.jpg" class="img-fluid contactusing rounded-start" alt="...">
      </div>
      <div class="col-md-6 contacttxt-body">
        <div class="card-body contact-body">
          <h3 class="card-title">Auguth Research Foundation</h3>
          <p class="card-text contact-txt"><i class='bx bxs-map' style='color:#1baaaa' ></i> #14 1st Main, 1st Cross, ITI Layout, <br> A Narayanapur, Doorvaninagar, Bangalore, Bangalore North, <br>Karnataka, India, 560016</p>
          <p class="card-text contact-txt"><i class='bx bxs-envelope mailicon' style='color:#1baaaa' ></i><a class="maillnk" href="mailto:info@auguth.org">info@auguth.org</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


  
  
  