<nav class="header">
    <a href="{{site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/assets/images/auguth_full_logo.png" alt="Brand-logo"></a>
    <div class="menubox">
        <ul>
            <li><a class="menu-link" href="{{site.baseurl}}/pages/presslist.html">Press</a></li>
            <li><a class="menu-link" href="{{site.baseurl}}/pages/key-persons.html">Key Persons</a></li>
            <li><a class="menu-link" href="https://github.com/auguth" target="_blank">Github</a></li>
            <li><a class="menu-link" href="{{site.baseurl}}/#contactsection">Contact us</a></li>
        </ul>
    </div>
    <div class="hamburger" id="hamburgerbox">
        <lable href="hamburger-link"><i class='bx bx-menu'></i></lable>
    </div>
</nav>

