<section class="objectives wrapper1">
    <h1>Our Objectives</h1>
    <h5>Empowering Technological Growth through Research, Development, and Community Collaboration</h5>
    <div class="fluid obj-box">
        <div class="row g-3">
          <div class="col-lg-6 obj-content">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <strong>Research & Development</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            We specialize in the design, customization, and maintenance of software solutions.
                            Our focus areas include Web3 protocols, internet-based applications, and IT-enabled services.
                            We provide extensive support to developers, including tools, advice, and assistance to help bring their innovations to life.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Educational Initiatives</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            We organize seminars, workshops, conferences, and training programs aimed at equipping upcoming programmers with the necessary
                            skills to excel in the Web3 and software development space. Our resources include free educational content, training modules, 
                            and advisory services to promote learning and awareness among students and developers.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Community Support</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            We are committed to supporting the local programming community by offering tailored solutions, 
                            educational resources, and platforms to showcase and enhance their work. Our efforts are focused on 
                            ensuring that local innovations can meet regional requirements while being globally competitive.
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 obj-img-box">
            <img src="{{site.baseurl}}/assets/images/objectives.jpg" class="img-fluid obj-img rounded-start" alt="...">
          </div>
        </div>
    </div>

</section>